@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

:root {
  background-color: #191919;
  color: white;
  font-family: 'Roboto Mono', monospace;
  }

.landing {

}

.landing-paragraph {
    font-size: 17px;
    text-align: center;
}

.landing-logo {
    height: 150px;
    width: 150px;
}
