@font-face {
    font-family: 'cozette';
    src: url(assets/CozetteVector.ttf);
}





:root {
    background-image: url(assets/pattern.png);
    height: 20px;
    color: rgb(180, 180, 180);
    text-size-adjust: none;
   -webkit-text-size-adjust: none;
}

.header pre{
    margin-top: 30px;
    margin-bottom: -15px;
    margin-left: auto;
    margin-right: auto;
    font-size: 9px;
    text-align: left;
    color: rgb(158, 47, 47);
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.678);

}



.title{
    font-size: 38px;
    padding-top: 50px;
    padding-left: 20px;
    font-weight: 900;
    font-family: cozette;
    color: rgb(211, 211, 211);
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.637);
}

.info-text {
    font-size: 20px;
    padding-left: 40px;
    font-family: cozette;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.726);
    
}

.info-list {
    padding-left: 80px;
    font-size: 20px;
    font-family: cozette;
    text-shadow: 10px 10px 20px rgba(0, 0, 0, 0.521);
}

.info-list a {
    text-decoration: none;
    color: white;
}

.discord a {
    color: rgb(101, 58, 172);
    font-weight: 900;
}

.youtube a {
    color: rgb(160, 45, 45);
    font-weight: 900;
}

.twitter a {
    color: rgb(55, 119, 145);
    font-weight: 900;
}

.guilded a {
    color: rgb(209, 175, 61);
    font-weight: 900;
}

@media screen and (max-width: 1080px) {
    .header pre {
        visibility: hidden;
        margin-top: 0px;
        margin-bottom: 0px;
    }
  }